<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40153241-o28grgr2bfjtrkr6pdkmh7mdjkf339fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40153241-o28grgr2bfjtrkr6pdkmh7mdjkf339fe</string>
	<key>API_KEY</key>
	<string>AIzaSyCaDGMeWr21anhFqlT5ZLysXRdxxjJ3bcM</string>
	<key>GCM_SENDER_ID</key>
	<string>40153241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ffCliTest</string>
	<key>PROJECT_ID</key>
	<string>fafbf-cli-test</string>
	<key>STORAGE_BUCKET</key>
	<string>fafbf-cli-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40153241:ios:7fc1b3a1f224afe371c808</string>
</dict>
</plist>